<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MSSQL.View.Properties.Settings.ConnectionString" connectionString="Provider=SQLNCLI11;Data Source=10.0.0.30;Integrated Security=SSPI;Initial Catalog=PK_Trade09"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>